
.infoCardContainer--desktop__infocard--blog, .infoCardContainer--desktop_infocard--best-seller{
    border-bottom: none;

}

.infoCardHeadline--desktop__infocard--best-seller{
    margin-top: 40px;
}

.infoCardHeadline--desktop__infocard--best-seller, .infoCardHeadline--desktop__infocard--blog{
    font-size: 22px;
    font-weight: 700;
}
.infoCardCallActionContainer--desktop__infocard--best-seller :global(.vtex-button){
    background-color: transparent;
    color: #2c2a29;
    letter-spacing: 0.1rem;
    border: 1px solid;
    border-color: #2c2a29;
    padding: 8px 14px !important;
    min-width: 90px;
    margin-top: -8px;
    border-radius: 50px;
}


.infoCardCallActionContainer--desktop__infocard--best-seller :global(.vtex-button__label){
    padding: 0 !important;
    font-size: 13px;
}

.infoCardCallActionContainer--desktop__infocard--blog :global(.vtex-button){
    background-color: transparent;
    color: #2c2a29;
    letter-spacing: 0.1rem;
    border: 1px solid;
    border-color: #2c2a29;
    padding: 8px 14px !important;
    min-width: 90px;
    margin-top: -8px;
    border-radius: 50px;
}

.infoCardCallActionContainer--desktop__infocard--blog :global(.vtex-button__label){
    padding: 0 !important;
    font-size: 13px;
}



.imageElement--desktop__slider--img:hover{
    color: #3c3a39;
    transition: color 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    opacity: 0.8;
    content: 'COMPRA ESTE LOOK';    
}

/* .imageElement--desktop__slider--img:hover{    
    transition:opacity 0.5s ease 0s;
    opacity: .8;
}
 */

 .imageElement--desktop__experience--image{
    width: 160px;
    height: 160px;
 }

