.imageElement--desktop__header_item--image1, .imageElement--desktop__header_item--image2, .imageElement--desktop__header_item--image3{
    margin-top: 7px;
    padding: 0 12px;  
}

.imageElement--desktop__header_item--image1{
    margin-top: 10px;   
}

.imageElement--desktop__header_item--image2{
    margin-top: 10px;
    padding-left: 18px;   
    padding-right: 10px;  
}

.imageElement--desktop__header_item--image3{    
    padding-left: 35px
}

.imageElementLink--desktop__header_item--image1, .imageElementLink--desktop__header_item--image2{
    border-right: 1px solid #676564;
}

.searchIcon--desktop__header--search{  
    position: absolute;
    margin-left: -164px ;
    width: 25px;
    height: 25px;
}

.searchBarContainer {
    padding-top: 0.6rem !important; 
    border-radius: 6px;    
    width: 160px !important;   
}

.searchBarInnerContainer--desktop__header--search{
    border-radius: 6px;    
}

.autoCompleteOuterContainer--desktop__header--search{
    border-radius: 6px;    
}

