.paragraph--desktop__slider_rich-text--one, .paragraph--desktop__slider_rich-text--two, .paragraph--desktop__slider_rich-text--three{
    color: #ffffff;       
}

.strong--desktop__slider_rich-text--one, .strong--desktop__slider_rich-text--two, .strong--desktop__slider_rich-text--three{
    letter-spacing: 0.1em;   
    font-size: 0.845em;  
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 600; 
}

.link--desktop__slider_rich-text--one, .link--desktop__slider_rich-text--two, .link--desktop__slider_rich-text--three{
    color: #ffffff;
    padding-left: 5px;
    font-size: 0.84em; 
    letter-spacing: 0.05em;      
}

