/* Example desktop:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */


.flexRowContent--desktop__header-row1_menu-item {
    background-color: #2c2a29;    
}

.flexRow--desktop__header-row2_elements {
    padding: 2rem 6rem; 
}

.flexCol--container__department_one-to-cfive, .flexCol--container__department_one-csix, .flexCol--container__department_one-cseven, .flexCol--container__department_one-ceight{
    margin: 0 2.5rem;
}

.flexCol--container__department_one-csix{
    padding-left: 1rem;
}

.flexCol--container__department_two-to-cfour, .flexCol--container__department_two-cfive,.flexCol--container__department_two-csix, .flexCol--container__department_two-seven {
    margin: 0 2.5rem;
}

.flexCol--container__department_four-to-cfour, .flexCol--container__department_four-cfive,.flexCol--container__department_four-csix, .flexCol--container__department_four-seven {
    margin: 0 4.2rem;
}

.flexCol--container__department_five-to-csix, .flexCol--container__department_five-seven {
    margin: 0 6.5rem;
}

.flexCol--container__department_six-to-cthree, .flexCol--container__department_six-cfour{
    margin: 0 2rem;
}

.flexCol--container__department_eight-cone, .flexCol--container__department_eight-ctwo{
    margin: 0 2rem;
}



