.paragraph--desktop__slider_rich-text--one, .paragraph--desktop__slider_rich-text--two, .paragraph--desktop__slider_rich-text--three{
    color: #ffffff;       
}

.strong--desktop__slider_rich-text--one, .strong--desktop__slider_rich-text--two, .strong--desktop__slider_rich-text--three{
    letter-spacing: 0.1em;   
    font-size: 0.845em;  
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 600; 
}

.link--desktop__slider_rich-text--one, .link--desktop__slider_rich-text--two, .link--desktop__slider_rich-text--three{
    color: #ffffff;
    padding-left: 5px;
    font-size: 0.84em; 
    letter-spacing: 0.05em;      
}


.container--desktop__home--text-1{
    margin: 2rem 0;
}
.container--desktop__home--text-2 {
    margin-bottom:  50px;
}

.container--desktop__home--text-two {
    margin: 20px 0 !important;
}

.container--desktop__home--text-three{
    margin-top: 50px;
    margin-bottom: 20px;
}

.paragraph--desktop__home--text-1, .paragraph--desktop__home--text-2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 0.3;
}

.paragraph--desktop__home--text-two, .paragraph--desktop__home--text-three{
    font-size: 22px;
    font-weight: 700;
}

.container--desktop__shipment--text-1, .container--desktop__change--text-1, .container--desktop__order--text-1, .container--desktop__advisory--text-1{
    margin: 0 0 15px;    
}


.link--desktop__shipment--text-1, .link--desktop__change--text-1, .link--desktop__order--text-1, .link--desktop__advisory--text-1{
    color: #2a2c29;  
    text-decoration: none;
}

.link--desktop__experience--text-2{
    color: #2a2c29;  
}

.container--desktop__change--text-1{
    margin-bottom: 28px;
}

.container--desktop__blog-one--text-1, .container--desktop__blog-two--text-1,.container--desktop__blog-three--text-1{
    margin-top: 20px;

}

.link--desktop__blog-one--text-1, .link--desktop__blog-two--text-1, .link--desktop__blog-three--text-1{
    color: #2a2c29;  
    text-decoration: none;
}

.paragraph--desktop__blog-one--text-1, .paragraph--desktop__blog-two--text-1, .paragraph--desktop__blog-three--text-1{
    font-size: 12px;
}

.paragraph--desktop__blog-one--text-2, .paragraph--desktop__blog-two--text-2, .paragraph--desktop__blog-three--text-2 {
    font-size: 18px;
    font-weight: 500;
}

.wrapper--desktop__subscribe--text, .wrapper--desktop__discount--text, .wrapper--desktop__agree--text, .link--desktop__agree--text{
    color: #ffffff;
}

.paragraph--desktop__subscribe--text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.paragraph--desktop__discount--text{
    letter-spacing: 0.025em;
    line-height: 1.2;
}



