/* Example desktop:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */

.flexRowContent--desktop__header-row1_menu-item {
    background-color: #2c2a29;    
}

.flexRow--desktop__header-row2_elements {
    padding: 2rem 6rem; 
}
