.link--pdp__drops--color-1{
    border-width: 3px;
    border-radius: 100%;
    box-shadow: rgb(44, 42, 41) 0px 0px 0px 2px;
    width: 44px !important;
    height: 44px;
    background-color:rgba(205, 152, 133, 0.81);  
    position: relative;
    left: 4rem;  
}

.link--pdp__drops--color-2{
    border-width: 3px;
    border-radius: 100%;
    box-shadow: rgb(44, 42, 41) 0px 0px 0px 2px;
    width: 44px !important;
    height: 44px;
    background-color:rgb(17, 16, 16);    
}

.link--pdp__drops--color-3{
    border-width: 3px;
    border-radius: 100%;
    box-shadow: rgb(44, 42, 41) 0px 0px 0px 2px;
    width: 44px !important;
    height: 44px; 
    background-color:rgba(49, 9, 85, 0.717); 
    position: relative;
    right: 4rem;     
}

.link--product__inventory--icon {
    width: 9px !important;
    height: 9px;
    background: #54c63a;
    border-radius: 9px;    
    content: "";
    margin: 7px;
}

.link--product__inventory--icon ::before{
    animation: inventory-pulse 2s linear infinite;    
}



/* @media  (max-width: 425px) {
    .link--pdp__drops--color-1{
        left:1.2rem;
        max-width:35% !important;             
    }
    .link--pdp__drops--color-2{        
        max-width: 35% !important;             
    }    
    .link--pdp__drops--color-3{
        right: 1.2rem ;
        max-width: 35% !important;             
    }     
} */