.paper--header__modal--content{
    min-width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-top: -720px !important;
    padding: 2.5rem 7.9rem;       
    border-radius: 0 !important;
}

.headerContainer{
    border-bottom-style:none !important; 
}

.contentContainer--header__modal--container {
    padding: 0 2.5rem;
}

.triggerContainer--mobile__search--modal-active{    
    margin-left: -9rem;
    margin-top: 18px;
    padding: 0 10rem;
}


@media  (max-width: 768px) {
    .paper--header__modal--content{        
        padding: 1rem 1.9rem;  
        margin-top: -80px !important;             
    }
}

@media  (min-width: 320px) {
    .contentContainer--header__modal--container{        
        padding: 0;                   
    }

    .triggerContainer--mobile__search--modal-active{    
        padding-right: 8rem;
    }
}


