.flexCol--terms-conditions__main--container, .flexCol--contact-us__main--container{
    padding: 30px 40px;
    max-width: 1000px;
    margin: 0 auto;
}
/* .flexColChild--terms-conditions__main--container{
  margin-bottom: 25px;
} */

@media  (max-width: 1024px){
    .flexCol--contact-us__main--container{
        padding: 30px .0625rem;
    }
}

