.cartIcon {
    width: 28px;
    height: 28px;
    padding-top:0.3rem
}

.minicartQuantityBadge--global__header_minicart {
    background-color: #0197a1 ;
}

.minicartQuantityBadgeDefault {
    top: 0.9rem;
    right: -0.4rem
}

.openIconContainer--global__header_minicart{
    padding-left: 0 !important;
    padding-right: 30px !important;   
}

.openIconContainer--global__header_minicart :first-child{
    background-color: transparent;
}



@media  (max-width: 768px) {
    .openIconContainer--global__header_minicart{
        position: absolute;        
        padding-right: 0 !important;
        margin-top: -34px;
        left: 6rem;
    }
}

@media  (max-width: 425px) {
    .openIconContainer--global__header_minicart{         
        margin-left: -6.5rem !important;        
    }
}