.searchIcon--header__search--modal{  
    position: absolute;
    margin-left: -158px ;
    width: 25px;
    height: 25px;
}

.autoCompleteOuterContainer--header__search--modal :first-child{
    border: none;
   
}

.autoCompleteOuterContainer--header__search--modal{
    margin-left: 2rem;

}

@media  (max-width: 768px) {
    .searchIcon--header__search--modal{        
        padding: 1rem 1.9rem; 
        margin-left: -2rem;              
    }
}

