.element--global__list-product-container :global(.vtex-button){
    background-color: transparent;
    border: none
}

.price_installmentContainer, .price_listPriceContainer{
    display: none;
}

.priceContainer{
    padding-top:0 !important ;
    padding-bottom:0 !important ;
}

.brandName{
    font-size: 14px;
}

.nameContainer {
    padding-bottom: 0.5rem;
}

