
.container--phone__shipment--text-1, .container--phone__change--text-1, .container--phone__order--text-1, .container--phone__advisory--text-1{
    margin: 0 0 15px; 
}

.container--phone__change--text-1{
    margin-bottom: 40px;
}

.link--phone__shipment--text-1, .link--phone__change--text-1, .link--phone__order--text-1, .link--phone__advisory--text-1{
    color: #2a2c29;  
    text-decoration: none;
}

.link--phone__experience--text-2{
    color: #2a2c29;
}

