
.flexRowContent--phone__experience--container-row1, .flexRowContent--phone__experience--container-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    margin-bottom: 40px;   
    padding: 0 2rem;
    flex-direction: row; 
}

