
.imageElement--phone__home--image, .imageElement--phone__lqs{
    width: 100%;
}

.imageElement--phone__blog--one, .imageElement--phone__blog--two, .imageElement--phone__blog--three {
    max-width: 100%;
}

.infoCardContainer--phone__infocard--blog{
    margin-top: 20px;
}

.infoCardContainer--phone__infocard--blog, .infoCardContainer--phone__infocard--best-seller{
    border-bottom: none;
}



.infoCardHeadline--phone__infocard--best-seller{
    margin-top: 40px;
}

.infoCardHeadline--phone__infocard--best-seller, .infoCardHeadline--phone__infocard--blog{
    font-size: 19px;
    font-weight: 700;
}
.infoCardCallActionContainer--phone__infocard--best-seller :global(.vtex-button){
    background-color: transparent;
    color: #2c2a29;
    letter-spacing: 0.1rem;
    border: 1px solid;
    border-color: #2c2a29;
    padding: 8px 14px !important;
    min-width: 90px;
    margin-top: -8px;
}


.infoCardCallActionContainer--phone__infocard--best-seller :global(.vtex-button__label){
    padding: 0 !important;
    font-size: 13px;
}

.infoCardCallActionContainer--phone__infocard--blog :global(.vtex-button){
    background-color: transparent;
    color: #2c2a29;
    letter-spacing: 0.1rem;
    border: 1px solid;
    border-color: #2c2a29;
    padding: 8px 14px !important;
    min-width: 90px;
    margin-top: -8px;
}

.infoCardCallActionContainer--phone__infocard--blog :global(.vtex-button__label){
    padding: 0 !important;
    font-size: 13px;
}

