.container--desktop__sticky_header{
    margin: 0 auto;      
    background-color: #ffffff;
    transform: translateZ(0);
    transition: transform .4s cubic-bezier(.165,.84,.44,1);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

