.styledLink--desktop__menu_department{
  font-size: 16px; 
  letter-spacing: 0.025em;
}

.styledLinkContainer--desktop__menu_department{
  margin: 0 1rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.4rem !important;
  
}

.styledLinkContainer--desktop__menu_department:hover{  
  border-bottom: 2px solid #2a2c29;  
  animation: grow 5s linear;
  animation-fill-mode: forwards;
}


.menuContainerNav--desktop__header_department{
  display: flex;
  justify-content: center; 
  padding-bottom: 20px;
}


.styledLink--menu__category{
  letter-spacing: .3em;
  font-size: .7em;  
}

.styledLinkContainer--menu__category, .styledLinkContainer--department-one__category--two, .styledLinkContent--department-four__category--three, .styledLinkContent--department-six__category--one{
  padding-bottom: 0.7rem !important;
}


.styledLinkContent--department-one__category--two, .styledLinkContent--department-one__category--five, .styledLinkContent--department-two__category--four, .styledLinkContent--department-four__category--three, .styledLinkContent--department-four__category--four, .styledLinkContent--department-six__category--one, .styledLinkContent--department-six__category--three{
  letter-spacing: .3em;
  font-size: .8em;
  white-space:normal !important;
}

.submenuWrapper--categories_departments{
  padding-top: 20px; 
  line-height: 1.8;
  transform: none;   
  transition: all .3s cubic-bezier(.2,.06,.05,.95);
  transition-delay:.3s;   
  width: 100%;  
  height: 440px;  
}


.submenuWrapper--menu__category--subcategories--isOpen{
  border-color: #ffffff !important;  
  padding-top: 0 !important;
}

.submenuWrapper--menu__category--subcategories{
  line-height: 1;  
}

.styledLink--menu__category--subcategories{
  letter-spacing: .05em;
  font-size: .8em; 
  font-family: Arial, Helvetica, sans-serif;
}



