.flexRowContent--drops__color--container {
    display: flex;
    justify-content: center;    
}
/* @media  (max-width: 425px){
    .flexRowContent--drops__color--container{
        padding: 0 2rem !important;
    } 
} */

