/* Example Tablet:
.flexRow--home__section-2 {
    margin: 50px auto;
    max-width: 1200px;
} */

.flexRowContent--tablet__experience--container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
   
}