
/*Home*/
.flexRowContent--tablet__experience--container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    margin-bottom: 40px;   
    padding: 0 4rem;
}

.flexCol--tablet__experience--shipment-col, .flexCol--tablet__experience--change-col, .flexCol--tablet__experience--order-col, .flexCol--tablet__experience--advisory-col{
    margin: 0 10px 20px;
}

.flexRow--tablet__blog--container-1, .flexRow--tablet__blog--container-2, .flexRow--tablet__blog--container-3{
    padding-left: 1.5rem;    
}

.flexCol--tablet__containerb--text-1, .flexCol--tablet__containerb--text-2, .flexCol--tablet__containerb--text-3 {   
    margin-left: -14rem;
    display: flex;
    align-items: flex-start;
    height: 20%;    
}

.flexRowContent--tablet__home--newsletter-row{
    margin-top: 50px;
    background-color: #2a2c29;
}

.flexCol--tablet__home--newsletter-col{
    padding: 40px 17px;
}

.flexColChild--tablet__home--newsletter-col{
    margin-bottom: 25px;
}

.flexRowContent--tablet__newsletter--container{
    margin: 0 auto 20px;
    max-width: 370px;
    display: flex;
}

@media  (max-width: 425px) {
    .flexRowContent--tablet__home--text-container{
        padding: 0 1rem;
        background-color: #e6e7e8;
    } 

    .flexRowContent--tablet__blog--container-1,.flexRowContent--tablet__blog--container-2,.flexRowContent--tablet__blog--container-3{
        display: flex;
    }
    
    .flexCol--tablet__containerb--text-1, .flexCol--tablet__containerb--text-2, .flexCol--tablet__containerb--text-3{      
        display: flex;          
        align-items: flex-start;
        margin: 0;
        height: 100%;        
     }

    .flexColChild--tablet__containerb--text-1, .flexColChild--tablet__containerb--text-2, .flexColChild--tablet__containerb--text-3{
        width: 200px;
        padding-right: 1rem;        
    } 

    .flexRow--tablet__blog--container-1, .flexRow--tablet__blog--container-2, .flexRow--tablet__blog--container-3 {
        padding-left: 1rem;   
    }
    .flexColChild--home__section--two-container {
        margin-top: 20px;
    }
}





