.flexRow--subscribe__newsletter--container{
    position: relative;
    display: inline-block;
    max-width: 300px;
    width: 100%;
}

.flexRowContent--subscribe__newsletter--container {
    border-bottom: 2px solid;
    border-bottom-color: #2a2c29;  
}

.flexRowContent--icons__socialnetwork--container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 160px;
    align-items: center;
    text-align: center;
    margin-left: 17.5rem;
}

.flexRow--mobile__payment--container-row{
    padding: 40px 0;
    border-top: 1px solid;
    border-top-color: #bbbbbb;
}

.flexRowContent--mobile__payment--container-row,.flexRowContent--mobile__payment--container-icons{
    display: flex;
    align-items: center;    
}


@media  (max-width: 425px) {
    .flexRowContent--icons__socialnetwork--container{
        margin-left: 7.5rem;
    }   
    .flexRow--mobile__policies--container-row{
        margin-top: 80px;
    }
}

@media  (max-width: 375px) {
    .flexRowContent--icons__socialnetwork--container{
        margin-left: 5.5rem;
    }    
}

@media  (max-width: 320px) {
    .flexRowContent--icons__socialnetwork--container{
        margin-left: 3.5rem;
    }    
}
@media  (min-width: 1024px) {
    .flexRowContent--icons__socialnetwork--container{        
        margin-left: 25.5rem;
    } 
}



