.imageElement--desktop__icon--general{
    width: 24px;
    height: 24px;
}

.imageElement--desktop__payment--safe {
    width: 101px;
    height: 20px;    
}

/* .imageElement--desktop__payment--safe {
    width: 101px;
    height: 20px;
    position: absolute;
    right: 60rem;
    transform: translateY(48px);
}

@media  (max-width: 1429px) {
    .imageElement--desktop__payment--safe {        
        right: 51rem;        
    }       
}
@media  (max-width: 1440px) {
    .imageElement--desktop__payment--safe {        
        right: 52rem;        
    }       
} */