.flexRow--desktop__footer--container-row{
    padding-top: 60px;
    padding-bottom: 60px;
}

.flexRowContent--desktop__footer--container-row{
    padding: 0 115px;    
}


.flexRowContent--desktop__icons--container{    
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;    
    padding: 0 3rem;
    margin-left: -4.3rem;
}

.flexRow--desktop__payment--container-row{
    padding: 40px 0;
    border-top: 1px solid;
    border-top-color: #bbbbbb;
}

.flexRowContent--desktop__payment--container-row,.flexRowContent--desktop__payment--container-icons{
    display: flex;
    align-items: center;
}





