.cartIcon {
    width: 28px;
    height: 28px;
    padding-top:0.3rem
}

.minicartQuantityBadge--global__header--minicart {
    background-color: #0197a1 ;
}

.minicartQuantityBadgeDefault {
    top: 0.9rem;
    right: -0.4rem
}



.openIconContainer--global__header--minicart{
    padding-left: 0 !important;
    padding-right: 30px !important;   
}

.openIconContainer--global__header--minicart :first-child{
    background-color: transparent;
}

@media  (max-width: 1024px) {
    .openIconContainer--global__header--minicart{  
        position: absolute; 
        padding-right: 0 !important;
        top: 0;    
        left: 6rem;
    }
}


.minicartCheckoutButton--checkout__button :global(.vtex-button__label){
    visibility: hidden;   
 }

 .minicartCheckoutButton--checkout__button :global(.vtex-button__label)::before{
    visibility: visible; 
    position: absolute;   
    content: "IR A PAGAR";
    left: 7.4rem;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.12em;  
    line-height: 1.42;      
 }

 .minicartCheckoutButton--checkout__button :global(.vtex-button){
    height: 60px;
    margin-top: -1rem;
    background-color: #99cc5c;
    border-radius: 50px;
 }

 .closeIconButton--global__header--minicart{
    position: absolute;
    left: 20rem;
    top:3px;    
 }

 .minicartTitle--minicart__base--content{
    visibility: hidden;   
 }

 .minicartTitle--minicart__base--content::before{
    visibility: visible; 
    position: absolute;   
    content: "Bolsa:";
    top: 20px;
    font-size: 22px;
    font-weight: 600;     
    line-height: 1.42;  
 }

.minicartSummary--minicart__summary {
    padding-left:1.70rem !important;
    padding-right:1.70rem !important;
    border-top: 1px solid #bbb; 
}

.minicartCheckoutButton--checkout__button{
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

@media (max-width: 768px){
    .minicartTitle--minicart__base--content::before{
        left: 1.5rem;
    }
}

.cartIcon--quantity__display{
    display: none;
}

.minicartQuantityBadge--quantity__display{
    background-color: transparent;
    color: #2a2c29;
    position: absolute;
    top: -2.8rem;
    left: 4.3rem;
    font-size: 22px;
    font-weight: 600;
}

.minicartProductListContainer--minicart__product--list {
    margin-top: -65px;
}


@media  (max-width: 425px) {
    .openIconContainer--global__header--minicart{         
        margin-left: -6.5rem !important;            
    }
    .minicartCheckoutButton--checkout__button :global(.vtex-button__label)::before {
        left: 4.2rem
    }
    .closeIconButton--global__header--minicart {
        left: 14rem;        
    }
    .minicartSummary--minicart__summary {
        padding-left:1rem !important;
        padding-right:1rem !important;
    }

    .minicartCheckoutButton--checkout__button :global(.vtex-button){
        margin-top: 0;
    }
    .minicartCheckoutButton--checkout__button{
        padding-left:1rem !important;
        padding-right:1rem !important;
        margin-top: -1rem;
    }
}

