.flexRowContent--department__results--container{
    padding-top: 1.5rem;
    padding-left: 7.5rem !important;
    padding-right: 5rem !important;
    
}

.flexColChild--department__breadcrumb--col{
    padding-left: 2.8rem;
}

.flexColChild--list__product--info :global(.vtex-button){
    background-color: transparent;
    border: none;
}

.flexRowContent--department__breadcrumb--row{
    padding-top: 3.5rem;
    padding-bottom: 0;
    padding-left: 0.5rem !important;
    /* padding-right: 2.5rem !important; */
}

.flexRowContent--stack__layout--container{
    border-radius: 5px 0;
    background-color: gray;     
}

.flexRow--department__slider{
    padding-left: 3.5rem;
    padding-right: 2.5rem;
}

