.styledLinkContent--item__category_leonisa-mobile, .styledLinkContent--item__category_leo-mobile, .styledLinkContent--item__category_allies-mobile{
    color: #ffffff;
    font-weight: 700;    
    font-size: 0.8rem;  
}

.styledLinkContent--item__category_allies-mobile{
      
    font-size: 0.7rem;  
}




