.container--mobile__sticky_header{
    background-color: #ffffff;
    margin: 0 auto;  
    /* transform: translateZ(0);
    transition: transform .4s cubic-bezier(.165,.84,.44,1); */
    display: flex;
    justify-content: center;
}
