.styledLinkContent--mobile__item_category-leonisa, .styledLinkContent--mobile__item_category-leo, .styledLinkContent--mobile__item_category-allies{
    color: #ffffff;
    font-weight: 700;    
    font-size: 0.8rem;  
}

.styledLinkContent--mobile__item_category-allies{
      
    font-size: 0.7rem;  
}




