.styledLinkContent--item__category_leonisa-mobile, .styledLinkContent--item__category_leo-mobile, .styledLinkContent--item__category_allies-mobile{
    color: #ffffff;
    font-weight: 700;
    padding: 0 4rem;
}

.menuItem--item__category_leonisa-desktop {
    margin-left: 5rem;
}