
.profileIcon--mobile__login--icon{
    width: 28px;
    height: 28px;
    position: absolute;
    padding-left: 1rem;               
    }


@media  (max-width: 425px) {
    .container{     
        padding-left: 0;
        margin-left: -1.5rem; 
        margin-top: -2px;         
    }

    .profileIcon--mobile__login--icon{     
        margin-left: -2.2rem;               
    }
}
