/* .slide--mobile__header_slider{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;           
} */

.slideChildrenContainer--mobile__header_slider {    
    padding: 0.3rem 2rem;      
}




