
.flexRowContent--mobile__header-row1_menu {
    background-color: #2c2a29;     
    max-width: 100%;   
}

.flexRowContent--mobile__header_container--images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%
}

.flexRowContent--mobile__header-row2_elements {
    margin-top: 15px;
}    

.flexRowContent--megamenu__icons--container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%!important;
    position: absolute;
    margin-left: 4.5rem;
    
}

.flexColChild--drawer__close--button{
    padding-left: 12rem;
}


@media  (max-width: 425px) {
    .flexRowContent--mobile__header_container--images{        
        min-width: 320px;          
    }

    .flexColChild--drawer__close--button{
        padding-left: 1rem;        
    }

    .flexRowContent--megamenu__icons--container{
        margin-left: 3rem;
    }
}








