 
 .imageElement--mobile__header_item--image1, .imageElement--mobile__header_item--image2, .imageElement--mobile__header_item--image3{
    margin: 7px 0;    
    padding: 0 75px;  
    max-height: 22px !important;

}

.imageElementLink--mobile__header_item--image1, .imageElementLink--mobile__header_item--image2{
    border-right: 1px solid #676564;    
}

.autoCompleteOuterContainer--mobile__search--modal :first-child{
    border: none;     
    padding-top: 1px;     
}

.searchIcon--mobile__search--modal{       
    width: 25px;
    height: 25px;  
    position: absolute;
    margin-left: -11rem; 
}

.searchBarInnerContainer--mobile__search--modal{
    margin-left: 3rem;
}
.autoCompleteOuterContainer--mobile__search--modal{
    padding-left: 1rem;
}


@media  (max-width: 425px) {
    .imageElement--mobile__header_item--image1, .imageElement--mobile__header_item--image2, .imageElement--mobile__header_item--image3{        
        padding: 0;        
    }   
}

.imageElement--megamenu__icon--general{
    width: 20px;
    height: 20px;
}





