.paragraph--rich-text__slider-mobile_one, .paragraph--rich-text__slider-mobile_two, .paragraph--rich-text__slider-mobile_three {
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 700;
}